@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

aside::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

aside::-webkit-scrollbar-track {
  background: transparent;
}

aside::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #c9c9c9;
}

aside::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: #aaaaaa;
}